# VSCode settings
.vscode/

# Build artifacts
build/*

# Benchmark results
benchmark/

# Test files and logs
test/

# Plot
plot/

# Python cache and metadata
__pycache__/
*.egg-info/

# Scalability scripts and outputs
scalability/*

# Ignore all large topology files csv files
topologies/**/*.csv

# Compiled shared objects
*.so

# .DS_Store files (macOS)
*.DS_Store